.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: box-shadow 300ms ease-in-out;
  border-radius: 30px;

  &:hover {
    box-shadow: 0px 0px 4px 1px #a0a0a0;
  }

  &::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 4px;
    bottom: 3px;
    box-shadow: inset 8px -4px 0px 0px var(--bg-primary);
    background: var(--background);
    transition: 400ms;
  }
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px var(--bg-primary);
}
