.container {
  max-width: 375px;
  margin: 0 auto;
  padding-inline: 24px;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 768px;
    padding-inline: 48px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
    padding-inline: 91px;
  }
}
