.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--bg-primary);
  padding-block: 18px;
  box-shadow: var(--box-shadow);
  transition: all 250ms ease-in-out;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapNavigation {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (min-width: 768px) {
    gap: 40px;
  }
}

.nav {
  ul {
    display: flex;
    align-items: center;
    gap: 56px;
  }
  a {
    color: var(--color-primary);
    font-weight: 500;
  }
}
