@import 'modern-normalize';
@import './fonts.css';

:root {
  --bg-primary: #515151;
  --color-primary: #fff;
  --color-10: #e4e4e4;
  --bg-ballet: #e4e4e42f;
  --box-shadow: 0 0 10px rgba(173, 216, 230, 0.3);
  --bg-gradient: linear-gradient(180deg, #727272 0%, #5d5d5d 100%);
}

:root.dark {
  --bg-primary: #000;
  --bg-ballet: #2d2d2d;
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  --bg-gradient: linear-gradient(180deg, #1c1c1c 0%, #0e0e0e 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Metropolis', sans-serif;
  color: var(--color-primary);
  background-color: var(--bg-primary);
  line-height: 1.5;
  transition: all 250ms ease-in-out;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input,
select {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.bullet {
  width: 55px;
  height: 6px;
  border-radius: 30px;
  background-color: var(--bg-ballet);
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.bullet.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
  width: 120px;

  @media (min-width: 768px) {
    width: 163px;
  }
}

.swiper-pagination {
  text-align: center;
  z-index: 2;

  @media (min-width: 768px) {
    text-align: start;
  }

  @media (min-width: 1280px) {
    margin-bottom: 100px;
  }
}

.desc {
  color: var(--color-10);
  font-weight: 400;
  font-size: 16px;

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.section {
  padding-block: 40px;

  @media (min-width: 768px) {
    padding-block: 50px;
  }

  @media (min-width: 1280px) {
    padding-block: 60px;
  }
}

.btn {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-primary);
  border-radius: 12px;
  padding: 13px 25px;
  font-weight: 700;
  font-size: 16px;
}
