.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--color-primary);
  border-radius: 12px;
  color: var(--white-10);
}

.icon {
  color: var(--bg-primary);
}
